.bg-theme{
  background-color:#AE1438;
}
.cart-icon{
  font-size:2em;
}
.hero-background{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-background{
  min-height: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#AE1438;
}
.contact-background{
  min-height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#AE1438;
}
.service-background{
  min-height: 50vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#AE1438;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
